<?php

define('VERSION', '0.4.0');

// Connection parameters
define('HOST', '');
define('USERNAME', '');
define('PASSWORD', '');
define('DATABASE', '');

// Debug mode
define('DEBUG', 0);

// Mail
define('EMAIL', '');
define('DEV_EMAIL', 'christophe.pagnouxv@gmail.com');

// Misc
define('WEBSITE_URL', 'http://www.insschool.fr/');
define('TVA', 0);
