body {
	background-color: #ffffff;
	color: #808080;
}

a, .dropdown-toggle {
	color: #e0e0e0;
	text-decoration: none;
}

a:hover, .dropdown-toggle:hover, .dropdown-toggle.highlight {
	color: #ffffff;
}

h1, h2 {
	color: #ffffff;
}

h2, .uppercase {
	text-transform: uppercase;
}

input, select, textarea {
	background-color: #000000;
	border: 2px solid #404040;
	box-sizing: border-box;
	color: #808080;
	padding: 10px 20px;
	width: 500px;
}

input:focus, select:focus, textarea:focus {
	border: 2px solid #606060;
}

input[type=checkbox], input[type=radio], input[type=submit], .datetime-select {
	width: auto;
}

input[type=submit], .button, .quantity-button {
	background-color: #808080;
	border: none;
	color: #ffffff;
	display: inline-block;
}

input[type=submit]:hover, .button:hover, .quantity-button:hover {
	background-color: #a0a0a0;
}

input[type=submit], .button {
	padding: 10px 20px;
}

input + span, select + span, textarea + span {
	display: block;
	width: 500px;
}

input:not([required]) + span::before, select:not([required]) + span::before, textarea:not([required]) + span::before {
	content: "(facultatif) ";
}

.attribute-name {
	font-weight: bold;
}

.blank {
	display: inline-block;
	width: 20px;
}

.button.true {
	background-color: #008000;
}

.button.true:hover {
	background-color: #00a000;
}

.dropdown-toggle {
	cursor: pointer;
}

.error {
	color: #ff0000;
	display: block;
}

.message {
	height: 200px;
	width: 600px;
}

.quantity-button {
	border-radius: 100%;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.quantity-input {
	width: 60px;
}

table, th, td {
	border: 1px solid #202020;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px 20px;
}

th {
	background-color: #404040;
	color: #ffffff;
}

.centered {
	text-align: center;
}

.db-table, .db-table th, .db-table td {
	border: none;
}

.db-table tr:hover {
	background-color: #202020;
}

.db-table th, .db-table td {
	border-bottom: 1px solid #202020;
}

header {
	background-color: #000000;
}

.utility-bar {
	line-height: 40px;
	padding-right: 20px;
	position: relative;
	text-align: right;
	z-index: 1;
}

.dropdown-menu, .navbar ul, .breadcrumb, .pagination ul, .action-links {
	margin: 0;
	padding: 0;
}

.dropdown {
	display: inline-block;
	float: right;
	position: relative;
}

.dropdown-menu {
	background-color: #808080;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	display: none;
	position: absolute;
	right: 0;
	width: 250px;
}

.dropdown-menu li {
	display: block;
}

.dropdown-menu li a {
	color: #ffffff;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

.dropdown-menu li a:hover {
	background-color: #a0a0a0;
}

.dropdown-menu.show {
	display: block;
}

.navbar, .breadcrumb, .container, .footer-container {
	margin: auto;
	width: 1280px;
}

.navbar {
	height: 85px;
	line-height: 85px;
	margin-bottom: 40px;
	position: relative;
	text-transform: uppercase;
	z-index: 0;
}

.navbar img {
	float: left;
}

.navbar li {
	display: inline;
}

.navbar li a {
	color: #ffffff;
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar li a:hover {
	background-color: #202020;
}

.breadcrumb {
	margin-bottom: 20px;
	padding-left: 20px;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li::before {
	content: "> ";
}

.breadcrumb li:first-child::before {
	content: none;
}

.breadcrumb li a {
	color: #000000;
}

.breadcrumb li a:hover {
	color: #202020;
}

.container {
	background-color: #000000;
	margin-bottom: 20px;
	padding: 20px;
}

.filters {
	margin-bottom: 20px;
}

.filter {
	display: inline-block;
	padding-right: 20px;
}

.display-options {
	margin-bottom: 20px;
}

.display-option {
	display: inline-block;
	padding-right: 20px;
}

.filter select, .display-option select {
	width: auto;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

.pagination ul {
	display: inline-block;
}

.pagination li {
	display: inline;
}

.pagination li a, .pagination li .active, .pagination li .disabled {
	color: #ffffff;
	display: inline-block;
	float: left;
	padding: 5px 10px;
}

.pagination li a:hover {
	background-color: #202020;
}

.pagination li .active {
	background-color: #404040;
}

.action-links {
	margin-bottom: 20px;
	margin-top: 20px;
}

.action-links li {
	display: inline;
}

fieldset {
	border: none;
}

.form-group, .editor {
	margin-bottom: 1em;
	margin-top: 1em;
}

.form-group label {
	display: block;
}

.form-group-option {
	display: inline-block;
	padding-right: 20px;
}

.form-group-option label {
	display: inline;
}

.editor {
	width: 650px;
}

.hidden {
	display: none;
}

.hidden.show {
	display: block;
}

footer {
	background-color: #000000;
}
